<!DOCTYPE html>
<html>
<head>
    <title>NaK Dev</title>
    <link rel="stylesheet" type="text/css" href="/css/nak.css">
    <script type="text/javascript" src="/lib/jquery.js"></script>
    <meta charset="UTF-8">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
</head>
<body>
    <div id="site">
        <header>
            <h1>NaK Development</h1>
            <nav>
                <ul>
                    <li>
                        <a href="javascript:void(0)">Who we are</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">What we do</a>
                    </li>
                        <li>
                        <a href="javascript:void(0)">Way to give</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">How we work</a>
                    </li>
                </ul>
            </nav>
        </header>

        {{{body}}}

        <footer>

        </footer>
    </div>
</body>
</html>
