<!DOCTYPE html>
<html>
<head>
    <title>NaK Dev</title>
    <link rel="stylesheet" type="text/css" href="/css/nak.css">
    <script type="text/javascript" src="/lib/jquery.js"></script>
    <meta charset="UTF-8">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
</head>
<body>
    <div id="site">
        <header>
            <h1>NaK Development</h1>
            <p class="elegance">Technological Elegance</p>
        </header>

        {{{body}}}

        <footer>

        </footer>
    </div>
</body>
</html>
